.container {
  .form {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 3rem;
    text-align: center;

    button {
      margin-top: 15px;
      margin-bottom: 15px;
    }
  }
}
