@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@200;300;400;500;700;800&display=swap');

$raleway: 'Raleway', 'Segoe UI', sans-serif;
$applaudoRed: #ff4040;
$applaudoNavi: #011625;

.verticalMargin {
  margin: 2rem 0;
}

.fullHeight {
  height: 100%;
}
