@import '..//..//styles/global.scss';

.header {
  margin: 0 0 1rem;
}

.avatarGroup {
  display: flex;
  margin: 1.5rem 0;
  flex-direction: row;
  & > * {
    margin: 8px;
  }
}

.avatar {
  text-decoration: none;
}

.avatarIcon {
  background-color: $applaudoNavi;
}