.loadingContainer {
  text-align: center;
  margin: 50px 15%;
  display: flex;
  justify-content: center;
}

@media only screen and (max-width: 900px) {
  .loadingContainer {
    text-align: center;
    margin: 50px 5%;
  }
}
