.drawerItems {
  img {
    width: 35%;
  }
  a {
    text-decoration: none;
    color: inherit;
  }
}

.drawer {
  width: 240px;
  @extend .drawerItems;
}

.drawerMobile {
  width: 240px;
  @extend .drawerItems;
}

.navbar {
  flex-shrink: 0;
}

.headerDrawer {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 20% auto;
  width: 100%;
}

.logoImg {
  height: 37px;
  min-width: 200px;
}

.copyMessage {
  font-size: x-small;
}
