.notFoundContainer {
  width: 50%;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 8px;
  margin: auto;
}

.logoImg {
  width: 50%;
  max-width: 500px;
}

@media only screen and (max-width: 900px) {
  .notFoundContainer {
    width: 100%;
  }
}
